{% extends "main/header.html" %}
{% load staticfiles%}
{% block content %}

<header>
  <div id="top" class="p-overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100 p-shift-up">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-1">Shop small,</br>Win big.</h1>


        <form method="post">
            {% csrf_token %}
          <div class="l-form-width form-row">
            <div class="col">
            {{ form.first_name }}
          </div>
          <div class="col">
            {{ form.last_name }}
          </div>
          </div>
          <div class="row">
            <div class="input-group l-form-width-2">
              {{ form.email }}
                <span class="">
                <button type="submit" class="btn btn-primary l-left l-submit">Submit </button>
              </span>
            </div>
          </div>
        
          </form>
      </div>
    </div>
    <div class="p-down-arrow-pos">
      <a class="nav-link navbar-text js-scroll-trigger text-center" href="{% url 'purpose' %}#how-it-works">
        <p class="p-learn-more"><b>Learn more</b></p>
        <img class="p-down-arrow" src="{% static 'images/downArrow.png' %}" alt="Next Page">
      </a>
    </div>
  </div>
</header>

<div id="how-it-works" class="container-fluid hiw-page">
  <p class="hiw-title">How It Works</p>
  <div class="hiw-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <span class="hiw-step-num">1</span><span class="hiw-step-title">Discover</span>
          <p class="hiw-font-size">Find the hidden gems in your local communities by searching our database for partnered locations. Search by city, name, or zipcode to find the great local offerings. Sweet!</p>
        </div>
        <div class="col">
          <span class="hiw-step-num">2</span><span class="hiw-step-title">Support</span>
          <p class="hiw-font-size">Spend as little as $10 for the chance to win something extraordinary and join the Marqo community. Once you're in one of our partnered locations, simply find our poster and scan the QR code to check you in. Finally, snap a pic of your reciept and send it in to us through the app. Together, we can build stonger communities across the world.</p>
        </div>
        <div class="col">
          <span class="hiw-step-num">3</span><span class="hiw-step-title">Win</span>
          <p class="hiw-font-size">Your support to these small businesses make a difference for your amazing community, and that's an awesome thing to do (win!). One person is picked at random to win the prize specified (win!). The local business gets support from a brand new network of people, allowing them to continue their awsome craft (the biggest win of all!).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="t-spacer"></div>
<div class="t-spacer"></div>
<!--
<div id="blog" class="container-fluid hiw-page">
  <p class="hiw-title">Blog - Coming soon</p>
  <div class="hiw-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="blog-article">
            <p class="blog-article-text text-center">Blog Article 1</p>
          </div>
        </div>
        <div class="col">
          <div class="blog-article">
            <p class="blog-article-text text-center">Blog Article 2</p>
          </div>
        </div>
        <div class="col">
          <div class="blog-article">
            <p class="blog-article-text text-center">Blog Article 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="t-spacer"></div>
-->

<div id="about-us" class="container-fluid ab-page">
  <div class="ab-pic-container">
    <img class="ab-pic" src="{% static 'images/about_background.png' %}" alt="Team Picture">
    <p class="ab-img-layover">We're glad you're here</p>
</div>
  <div class="ab-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p class="ab-text">Welcome, we're glad you're here! The Marqo team is a group of passionate individuals who have a collective dream of helping local communities thrive. We believe in local businesses and we want everyone to join us on our mission of empowering them. With Marqo, innovation and creative promotion are the minimum standards. We're excited to meet you.</p>
        </div>
      </div>
    <div class="ab-spacer2"></div>
      <div class="row text-center">
        <div class="col">
          <a class="btn btn-primary ab-btn" href="{% url 'purpose' %}" role="button">Our Purpose</a>
        </div>
        <div class="col">
          <a class="btn btn-primary ab-btn" href="{% url 'team' %}" role="button">Meet the Team</a>
        </div>
        <div class="col">
          <a class="btn btn-primary ab-btn" href="{% url 'contact' %}" role="button">Contact Us</a>
        </div>
      </div>
        <div class="ab-spacer2"></div>

    </div>
  </div>
</div>

<!--
<div id="sign-in" class="container-fluid l-page">
  <div class="justify-content-center align-self-center text-center">
    <p class="l-top-spacer"></p>
    <img class="l-logo" src="{% static 'images/logo-padding.png' %}" alt="Marqo">
    <p class="l-form-spacer"></p>
    <p class="l-access-text"><b>Sign In - Coming Soon</b></p>
    <form>
      <div class="l-form-width">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="l-form-width">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="l-form-width">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div>
          <button type="submit" class="btn btn-primary l-submit">Submit</button>
      </div>
    </form>
  </div>
</div>
-->
{% endblock %}