{% extends "main/header.html" %}
{% load staticfiles%}
{% block content %}
<div id="top" class="container-fluid page-1">
	<div class="row justify-content-center align-self-center text-center">
		<div class="col">
			<img class="main-logo" src="{% static 'images/logo.png' %}" alt="Marqo">
			<div class="form-spacer">
				<p class="early-access"><b>Get Early Access</b></p>
				<form>
				  <div class="form-width">
				    <input type="text" class="form-control" placeholder="First name">
				  </div>
				  <div class="form-width">
				    <input type="text" class="form-control" placeholder="Last name">
				  </div>
			    <div class="form-width">
			    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			   	</div>
			   	<div>
				    	<button type="submit" class="btn btn-primary input-button">Submit</button>
				  </div>
				</form>
			</div>
			<a class="down-arrow-position text-center nav-link navbar-text js-scroll-trigger" href="{% url 'index' %}#howItWorks">
				<img class="down-arrow" src="{% static 'images/downArrow.png' %}" alt="Next Page">
			</a>
		</div>
	</div>
</div>
<div id="howItWorks" class="container-fluid page-2">
	<div class="row justify-content-center align-self-center text-center">
		<div class="col">
			<br />
			<br />
			<br />
			<h2 clas="text-center">How It Works Content</h2>
		</div>
	</div>
</div>
{% endblock %}