{% extends "main/header.html" %}
{% load staticfiles%}
{% block content %}

<style>
.tab-in{
  margin-left:1em;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .tab-in {
    white-space: normal; 
  }
}

a.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

.grey-bar{
	width:100%;
	height:15px;
	background-color:#f6f6f6;
}

.media-size{
	width: 500px;
	height: 281px;
}

@media (max-width: 875px) {
  .media-size {
    width:320px;
    height: 180px;
  }
}

.red{
	color: red;
}

</style>
{% for item in Orange229 %}
<br />
<div>
	<a class="anchor" id="{{item.apartment_number}}"></a>
	<h2 style="text-align:center">229 E Orange St, Apartment #{{item.apartment_number}}</h2>
	<h3 style="text-align:center">
		{% if item.is_available == 'Yes'%}
			Available
		{% else%}
			<span class="red">Avail {{item.next_date_available|date:"M. Y"}}</span>
		{%endif%}
		| {{item.number_of_bedrooms}} Bedroom | ${{item.rent_per_month}}/month

	</h3>
	<div class="container">
		<div class="row">
			<div class="col">
				<h6><b>Information</b></h6>
				<p class="tab-in">
					{% if current_date < item.next_date_available|date:"Ymd" %}
						Commited Until: {{item.next_date_available}}<br />
					{% else %}
						Commited Until: Available<br />
					{% endif %}
					Security Deposit: ${{item.rent_per_month}}<br />
					Tenant Pays All Utilities<br />
					Lease runs from June 1st to May 28th<br />
					Maximum Occupancy: {{item.number_of_bedrooms}} persons<br />
					No Pets Allowed<br />	
					No Smoking<br />				
				</p>
				<h6><b>Features</b></h6>
				<div class="tab-in">
					{{item.features|linebreaks}}
				</div>
				<h6><b>Applicances</b></h6>
				<div class="tab-in">
					{{item.appliances|linebreaks}}
				</div>
				{% if item.notes != '' %}
					<h6><b>Additional Notes</b></h6>
					<div class="tab-in">
						{{item.notes|linebreaks}}
					</div>
				{%endif%}
			</div>
			<div class="col">
				<video class="media-size" controls>
					<source src="{% static 'virtualWalkthrough/oragne229/{{item.apartment_number}}.mp4' %}" type="video/mp4">
					Your browser does not support HTML5 video.
				</video><br />
				<iframe class="media-size" src="https://docs.google.com/presentation/d/e/2PACX-1vTTxLPoZZWORQURzlOtlZWDMORwShMDB70fhOVXfcS2QmKuvRNMLfw5_eGST1_8oP1K1fLannPuZDzG/embed?start=true&loop=true&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
				<br />				
			</div>
		</div>
	</div>
</div>
</br>
<div class="grey-bar"></div>
{% endfor %}

{% endblock %}