@font-face {
  font-family: tcceb;
  src: url('/static/fonts/tcceb.ttf')  format("truetype"),
       local('tcceb');
}

/* Applies to entire doc */
* {
    font-family: tcceb, Times, serif;
}

.nav-pills > li > a.active {
    background-color: #fff !important;
    color: #ff5757 !important;
}

body{
  position: relative;
}

.explaination-container{
  margin: 100px;
}


.hiw{
  font-size: 24px;
}

.heading{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 56px;
  color: #ff5757;
}

.step-number{
  font-size: 84px;
  color: #ff5757;

}

.step-title{
  padding-left: 15px;
  font-size: 48px;

}

ul.nav a:hover {
  background-color: #fff !important;
  color: #ff5757 !important;
}

.nav-link{
  font-size: 18px;
}

footer {
  z-index: 4;
}


header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.shift-up{
  margin-top: -50px;
}

/* Grey header color */
.header-background{
  background-color:#ff5757;
}

/* Salmon body color */
.body-background{
  background-color:#717273;
}

/* Upper-left logo */
.navbar-logo{
  height: 45px;
  width: 130px;
  margin-bottom: -10px;
  margin-top: -10px;
}


/* Offsets the page the height of the navbar */
.navbar-offsetter{
  background-color: darkgrey;
  width: 100%;
  height: 55px;
}

/* Fills page with salmon */
.page-1 {
    width: 100vw;
    height: 100vh; 
    background: #333333;
    background-size: cover;
}

.page-2 {
    height: 100vh; 
    background-color: #fff;
}

.page-3 {
    height: 100vh; 
    background-color: #333333;
}

/* Removes left gutter */
.remove-gutter{
  margin-right: -15px;
  margin-left: -15px;

}

.show-back{
  background: red;
}

/* Makes container-fluid actually 100% */
.container-fluid {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

.learn-position{
  text-align: center;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.tagline{
  color: #fff;
  font-size: 72px;
}

/* Specifies offset and height for main logo */
.main-logo{
  margin-top: 3vh;
  height: 30vh;
  width: 45vh;
}

.down-arrow-position{
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.learn-more{
  color: #fff;
  font-size: 32px;
}

.form-width{
  width: 350px;
  margin: auto;
  margin-bottom: 10px;
}

.input-button{
  width: 350px;
}

/* Adjusts size of logo, forms, and down-arrow after breakpoint */
@media (max-width: 768px) {
  .main-logo {
    height: 214px;
    width: 300px; 
  }
  .form-width{
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
  }
  .down-arrow-position{
    margin-top: 550px;
  }

  .input-button{
    margin: auto;
    width: 95%;
  }

  .hiw{
  font-size: 18px;
  }

  .explaination-container{
    margin: 60px;
  }
}

/* Spacer between logo and forms */
.form-spacer{
  padding-top:80px;
}

/* Spacer between logo and forms */
.form-spacer2{
  margin-top:30px;
}


.early-access{
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.down-arrow{
  height: 35px;
  width: 35px;
}


/* Scrolling-nav css */
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}