{% block content %}

<style>
.contact-widget-container{
	background-color:#fff;
	width: 100%;
	float: right;
	margin-top:15px;
}

.contact-widget{
	font-size:20px;
	text-align: left;
	margin-left:10px;
}
</style>
<div class="contact-widget-container sticky-top">
	<div class="contact-widget">
		<p> <b>Contact</b><br />
		Mark Booth<br />
		326 East Burd St<br />
		Shippensburg, PA 17257<br /><br />
		(717) 530-1924<br />
		<a href="mailto:markbooth@email.com">markbooth@email.com</a>
		</p>
	</div>
</div>
{% endblock %}