{% block content %}

<style>

.nav-window{
	background-color:#fff;
	top:75px;
}

.nav-title{
	font-size:20px;
	text-align: left;
	margin-left:10px;
	margin-top:5px;
}

.grey-bar{
	width:100%;
	height:15px;
	background-color:#f6f6f6;
}

.contact-info{
	font-size:16px;
	margin-left:10px;
}

.no-padding{
	display: block;
	padding: 0rem 1rem;
}

</style>

<div id="sidebar" class="sticky-top nav-window">
	<ul class="nav flex-column">
		<li class="nav-title">
			      <b><span>Vacancies</span></b>
		</li>
	{% for item in Earl48 %}
		{% if 'Yes' in item.is_available %}
			  <li class="nav-item">
			      <a class="nav-link no-padding" href="{% url 'earl48' %}#{{ item.apartment_number }}">48 S Earl #{{item.apartment_number}} | {{item.number_of_bedrooms}} bdrm | ${{item.rent_per_month}}/mo</a>
			  </li>
		{% endif %}
	{% endfor %}
	{% for item in Earl46 %}
		{% if 'Yes' in item.is_available %}
			<li class="nav-item">
			      <a class="nav-link no-padding" href="{% url 'earl46' %}#{{ item.apartment_number }}">46 S Earl #{{item.apartment_number}} | {{item.number_of_bedrooms}} bdrm | ${{item.rent_per_month}}/mo</a>
			     			  </li>
		{% endif %}
	{% endfor %}
	{% for item in Earl44 %}
		{% if 'Yes' in item.is_available %}
			<li class="nav-item">
			      <a class="nav-link no-padding" href="{% url 'earl44' %}#{{ item.apartment_number }}">44 S Earl #{{item.apartment_number}} | {{item.number_of_bedrooms}} bdrm | ${{item.rent_per_month}}/mo</a>
			      			  </li>

		{% endif %}
	{% endfor %}
	{% for item in Orange229 %}
		{% if 'Yes' in item.is_available %}
			<li class="nav-item">
			      <a class="nav-link no-padding" href="{% url 'orange229' %}#{{ item.apartment_number }}">229 E Orange #{{item.apartment_number}} | {{item.number_of_bedrooms}} bdrm | ${{item.rent_per_month}}/mo</a>
			      			  </li>

		{% endif %}
	{% endfor %}
	{% for item in Burd328 %}
		{% if 'Yes' in item.is_available %}
			<li class="nav-item">
			      <a class="nav-link no-padding" href="{% url 'burd326' %}#{{ item.apartment_number }}">328 E Burd #{{item.apartment_number}} | {{item.number_of_bedrooms}} bdrm | ${{item.rent_per_month}}/mo</a>
			      			  </li>

		{% endif %}
	{% endfor %}
	{% for item in Burd326 %}
		{% if 'Yes' in item.is_available %}
			<li class="nav-item">
			      <a class="nav-link no-padding" href="{% url 'burd328' %}#{{ item.apartment_number }}">326 E Burd #{{item.apartment_number}} | {{item.number_of_bedrooms}} bdrm | ${{item.rent_per_month}}/mo</a>
			      			  </li>

		{% endif %}
	{% endfor %}
	<div class="grey-bar"></div>
	<li class="nav-title">
		<span><b>All Apartments</b></span>
	</li>
	  <li class="nav-item">
	      <a class="nav-link no-padding" href="{% url 'burd326' %}">326 East Burd St</a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link no-padding" href="{% url 'burd328' %}">328 East Burd St</a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link no-padding" href="{% url 'orange229' %}">229 East Orange St</a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link no-padding" href="{% url 'earl44' %}">44 South Earl St</a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link no-padding" href="{% url 'earl46' %}">46 South Earl St</a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link no-padding" href="{% url 'earl48' %}">48 South Earl St</a>
	  </li>
	</ul>
	<div class="grey-bar"></div>
	<div class="nav-title">
		<b>Contact</b><br />
	</div>
	<div class="contact-info">
		<p>
		Mark Booth<br />
		326 East Burd St<br />
		Shippensburg, PA 17257<br /><br />
		(717) 530-1924<br />
		<a href="mailto:markbooth@email.com">markbooth@email.com</a>
		</p>
	</div>
	<div class="grey-bar"></div>
	<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1-DDx50X-h-nw_JZBjlRM0hi9o12bfnkp" style="width:100%;height:400px;"></iframe>

</div>
{% endblock %}