/* #######################################
 * Entire doc attributes 
 * ####################################### */
@font-face {
  font-family: tcceb;
  src: url('/static/fonts/tcceb.ttf')  format("truetype"),
       local('tcceb');
}

* {
    font-family: tcceb, Times, serif;
}

body{
  position: relative;
}

/* Scrolling-nav css */
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

/* Makes container-fluid actually 100% */
.container-fluid {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

/* #######################################
 * Header classes 
 * ####################################### */

.nav-pills > li > a.active {
    background-color: #fff !important;
    color: #ff5757 !important;
}

/* Sets font size of nav-links */
.nav-link{
  font-size: 18px;
}

/* Salmon header color */
.header-background{
  background-color:#ff5757;
}

/* Upper-left logo */
.navbar-logo{
  height: 45px;
  width: 130px;
  margin-bottom: -10px;
  margin-top: -10px;
}

/* Offsets the page the height of the navbar */
.navbar-offsetter{
  background-color: darkgrey;
  width: 100%;
  height: 55px;
}

/* Invert navbar color on hover */
ul.nav a:hover {
  background-color: #fff !important;
  color: #ff5757 !important;
}

/* #######################################
 * Partners classes 
 * ####################################### */

/* Background video classes */
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* Centers down arrow */
.p-down-arrow-pos{
  text-align: center;
}

/* Sets size of down arrow */
.p-down-arrow{
  height: 35px;
  width: 35px;
}

/* Sets color and size of "learn more" above arrow */
.p-learn-more{
  color: #fff;
  font-size: 32px;
}

/* Shifts up video the size of the navbar to stop page from being > 100vh */
.p-shift-up{
  margin-top: -50px;
}

/* #######################################
 * How It Works classes 
 * ####################################### */

/* Sets height of page */
.hiw-page {
    height: auto; 
    background-color: #fff;
}

/* Sets properties of "How It Works" title */
.hiw-title{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 56px;
  color: #ff5757;
}

/* Container for the steps */
.hiw-container{
  margin: 100px;
}

/* Properties of step numbers */
.hiw-step-num{
  font-size: 84px;
  color: #ff5757;
}

/* Properties of step titles */
.hiw-step-title{
  padding-left: 15px;
  font-size: 48px;
}

/* Font size of the text */
.hiw-font-size{
  font-size: 24px;
}



/* #######################################
 * Blog classes 
 * ####################################### */

.blog-article{
  height: 500px;
  width: 400px;
  border-radius: 25px;
  background-color: grey;
  margin-bottom: 25px;
}

.blog-article-text{
  padding-top: 50%;
  color: white;
  font-size: 48px;
}

@media (max-width: 900px) {
.blog-article{
  height: 300px;
  width: 250px;
}
}


/* #######################################
 * About Us classes 
 * ####################################### */

/* Sets height of page */
.ab-page {
    height: auto; 
    background-color: #fff;
}

.ab-pic-container{
  height: 350px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.ab-pic{
  height: 100%;
  width: 100%;
}

.ab-img-layover{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 58px;
}

.ab-container{
  margin: 60px;
}

.ab-text{
  font-size: 24px;
}

.ab-btn{
  font-size: 48px;
  width: 100%;
  margin-bottom: 15px;
}

.ab-link:hover{
  color: #ff5757;
}


.ab-spacer2{
  height: 100px;
}


.btn-primary{
    background-color: #ff5757 !important;
}

.btn-primary:hover{
    background-color: #b74040 !important;
}

/* Adjusts size of logo, forms, and down-arrow after breakpoint 768px */
@media (max-width: 900px) {
  .ab-img-layover{
    font-size: 40px;
  }

  .ab-spacer2{
    height: 25px;
  }
}


/* #######################################
 * Login classes 
 * ####################################### */

 /* Sets height of page */
.l-page {
    height: 100vh; 
    background-color: #333333;
}

/* Spacer between top and logo */
.l-top-spacer{
  padding-top:80px;
}

/* Spacer between logo and forms */
.l-form-spacer{
  margin-top:30px;
}

/* Specifies offset and height for main logo */
.l-logo{
  margin-top: 3vh;
  height: 300px;
  width: 650px;
}

/* Get Early Access text properties */
.l-access-text{
  text-align: center;
  color: #fff;
  font-size: 32px;
}

/* Width of input forms */
.l-form-width{
  margin: auto;
}

.l-field{
  width:170px;
  border-style: solid;
  border-color: white;
  background-color:white;
  color: black;
  border-radius:3px;
}

.l-field-2{
  width:200px;
  border-style: solid;
  border-color: white;
  background-color:white;
  color: black;
  border-radius:3px;
}

.l-form-width-2{
  width: 330px;
}

/* Width of submit button */
.l-submit{
  width: 100px;
  height:35px;
}

.l-left{
  margin-left:10px;
}

/* #######################################
 * Mobile classes 
 * ####################################### */

/* Adjusts size of logo, forms, and down-arrow after breakpoint 768px */
@media (max-width: 900px) {
  /* Specifies offset and height for main logo */
  .l-logo {
    height: 214px;
    width: 400px; 
  }

  /* Width of input forms */
  .l-form-width{
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
  }

  /* Width of submit button */
  .l-submit{
    margin: auto;
    width: 95%;
  }

  /* Font size of the text */
  .hiw-font-size{
  font-size: 18px;
  }

  /* Container for the steps */
  .hiw-container{
    margin: 60px;
  }

  /* Sets height of page */
  .hiw-page {
    height: auto; 
    background-color: #fff;
  }
}


/* #######################################
 * Team HTML classes 
 * ####################################### */

.t-header-offset{
  height: 50px;
}


.t-fluid-padding{
  padding-left: 60px;
}

.t-header{
  margin-top: 150px;
  margin-left: 60px;
  color: #717273;
  font-size: 48px;
}

.t-mugshot{
  height: 300px;
  width: 300px;
  border-radius: 45px;
}

.t-name{
  font-size: 42px;
  margin: 0;
}

.t-title{
  font-size: 24px;
  color: #717273;
  margin-top: -10px;
}

.t-desc{
  font-size: 24px;
}

  /* Container for the steps */
  .t-container{
    margin: 60px;
  }

.t-spacer{
  height:100px;
}

.t-btn{
  font-size: 32px;
  width: 80%;
  margin: auto;
}

.sign-up-box{
  margin: auto;
  background: #444444;
  width: 500px;
  height: 250px;
  border-radius: 10px;
}

.top-margin{
  padding-top: 10px;
}

.names{

}