/* Applies to entire doc */
* {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

/* Grey header color */
.header-background{
  background-color:#717273;
}

/* Salmon body color */
.body-background{
  background-color:#ff5757;
}

.navbar-logo{
  height: 25px;
  width: 25px;
}

/* Offsets the page the height of the navbar */
.navbar-offsetter{
  background-color: darkgrey;
  width: 100%;
  height: 55px;
}

/* Fills page with salmon */
.page-1 {
    width: 100vw;
    height: 100vh; 
    background: #ff5757;
    background-size: cover;
}

.page-2 {
    width: 100vw;
    height: 100vh; 
    background: #89cff0;
    background-size: cover;
}

/* Removes left gutter */
.remove-left-gutter{
  margin-left:-30px;
}

/* Specifies offset and height for main logo */
.main-logo{
  margin-top: 3vh;
  height: 30vh;
  width: 45vh;
}


.down-arrow-position{
  position: absolute;
  margin-top: 85vh;
  margin-left: 49%;
}

.form-width{
  width: 350px;
  margin: auto;
  margin-bottom: 10px;
}

.input-button{
  width: 350px;
}

/* Adjusts size of logo, forms, and down-arrow after breakpoint */
@media (max-width: 768px) {
  .main-logo {
    height: 214px;
    width: 300px; 
  }
  .form-width{
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
  }
  .down-arrow-position{
    margin-top: 550px;
  }

  .input-button{
    margin: auto;
    width: 95%;
  }
}

/* Spacer between logo and forms */
.form-spacer{
  margin-top:30px;
}




.early-access{
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.down-arrow{
  height: 3vh;
  width: 3vh;
}


/* Scrolling-nav css */
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
